:root {
  --gap: 16px;
  --common-padding: 16px;
  --margin: 16px;
  --card-padding: 24px;
  --btn-padding: 10px 15px;
  --color-primary: #cacaca;
  --border-radius: 13px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  color: #cacaca;
}

a {
  margin: 0;
  padding: 0;
}
