:root {
  --gap: 16px;
  --common-padding: 16px;
  --margin: 16px;
  --card-padding: 24px;
  --btn-padding: 10px 15px;
  --color-primary: #cacaca;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  color: #cacaca;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

